.form-container {
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.form-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-name {
    flex: 1;
    margin-left: 10px;
}

.form-link {
    flex: 1;
    text-align: left;
}

.form-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.save-button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.save-button:hover {
    background-color: #0056b3;
}

.create-form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.create-form-button {
    padding: 5px 10px;
    border: none;
    background-color: gray;
    color: white;
    cursor: pointer;
    width: 300px;
}

.create-form-button:hover {
    background-color: #0056b3;
}

.edit-button {
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

.centered-message {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: large;
}